In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame(
    {'data': [2, 3, 4, 10, 12, 20, 30, 11, 25]}
)

In [4]:
df.head()

   data
0     2
1     3
2     4
3    10
4    12

In [5]:
from sklearn.cluster import KMeans

In [6]:
km = KMeans(n_clusters=2)

In [7]:
X = df[['data']]

In [8]:
km.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [9]:
km.cluster_centers_

array([[ 7.],
       [25.]])

In [10]:
km.labels_

array([0, 0, 0, 0, 0, 1, 1, 0, 1], dtype=int32)

In [11]:
df['label'] = km.labels_

In [12]:
df

   data  label
0     2      0
1     3      0
2     4      0
3    10      0
4    12      0
5    20      1
6    30      1
7    11      0
8    25      1